/* assets/css/style.css */

/* Make dark mode look nice */
[data-bs-theme="dark"] {
  background-color: #181d23 !important;
  color: #e3e9ee !important;
}
[data-bs-theme="dark"] .bg-light {
  background-color: #212529 !important;
  color: #e3e9ee !important;
}
[data-bs-theme="dark"] .bg-white {
  background-color: #181d23 !important;
  color: #e3e9ee !important;
}
[data-bs-theme="dark"] .navbar, 
[data-bs-theme="dark"] .footer, 
[data-bs-theme="dark"] .card {
  background-color: #212529 !important;
  color: #e3e9ee !important;
}
[data-bs-theme="dark"] .card {
  border-color: #333 !important;
}

a {
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: #16c782 !important;
}

.btn-success, .bg-success {
  background-color: #16c782 !important;
  border: none;
}

@media (max-width: 991px) {
  .navbar .navbar-collapse {
    background: #fff;
  }
}
