[data-bs-theme="dark"] {
  background-color: #1a222c !important;
  color: #e3e9ee !important;
}
[data-bs-theme="dark"] .bg-light,
[data-bs-theme="dark"] .bg-white,
[data-bs-theme="dark"] .card,
[data-bs-theme="dark"] .navbar {
  background-color: #232c39 !important;
  color: #e3e9ee !important;
}
[data-bs-theme="dark"] .footer,
[data-bs-theme="dark"] .list-group-item {
  background-color: #1a222c !important;
  color: #e3e9ee !important;
}
[data-bs-theme="dark"] .btn,
[data-bs-theme="dark"] .btn-success,
[data-bs-theme="dark"] .btn-primary,
[data-bs-theme="dark"] .btn-outline-success {
  border-color: #16c782 !important;
}
[data-bs-theme="dark"] a { color: #70ffe6; }
[data-bs-theme="dark"] a:hover { color: #16c782 !important; }
